<template name="Notify">
  <!--<div class="ui container">-->
    <div style="background: #1b1c1d; color: white;" class="ui fluid selection dropdown">
      <div style="color: white" class="item"><span class="circ">{{count}}</span></div>
      <i class="bell outline icon"></i>
      <div class="menu">
        {{#each event}}
          {{#if this}}
            <div class="item"><a style="color: black" href="/calendar">{{this}}</a></div>
            <div class="divider"></div>
          {{/if}}
        {{/each}}
      </div>
    </div>
  <!--</div>-->
</template>
